.container {
    max-width: 1113px;
	margin: 0 auto;
}
.promo {
    background-color: #ECF7F3;
    min-height: 757px;
    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 84px;
    }
    &__info {
        margin-top: 34px;
        margin-bottom: 44px;
    }
    &__header {
        font-size: 48px;
        font-weight: 700;
        line-height: 61px;
        text-align: left;
        color: #2D2D2D;
        width: 474px;
        margin-top: 0;
        margin-bottom: 0;
        span {
            font-weight: 600;
            color: #FF8345;
        }
    }
    &__subheader {
        width: 444px;
        font-size: 15px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        margin-top: 22px;
        margin-bottom: 30px;
    }
    &__search-form {
        display: flex;
        margin-top: 50px;
        margin-bottom: 40px;
        justify-content: space-between;
        align-items: center;
        border-radius: 100px;
        height: 62px;
        padding: 0 6px 0 40px;
        background-color: #FFFFFF;
        &__txt {
            border: none;
            width: 484px;
            outline: none;
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 400;
            color: #A1A1A1;
            padding-right: 10px;
        }
        &__btn {
            border: none;
            border-radius: 50px;
            background-color: $main-color;
            width: 55px;
            height: 55px;
            margin-right: 0;
        }
        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            margin: 0 auto;
            cursor: pointer;
        }
    }
    &__users {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 365px;
        height: 38px;
        position: relative;
        &__photo {
            display: flex;
            margin-top: -38px;
            img {
                position: absolute;
            }
            .user1{
                z-index: 4;
            }
            .user2{
                z-index: 3;
                margin-left: 20px;
            }.user3{
                z-index: 2;
                margin-left: 40px;
            }.user4{
                z-index: 1;
                margin-left: 60px;
            }
        }
        &__descr {
            margin-left: 12px;
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 500;
            color: #707070;
            a {
                font-weight: 400;
                color: #FD905A;
                text-decoration: none;
            }
        }
    }
    &__img-container {
        display: flex;
        justify-content: center;
        width: 541px;
        height: 601px;
        position: relative;
        margin-left: 70px;
        &__countries {
            position: absolute;
            width: 450px;
            height: 450px;
            border: 2px solid #E8E8E8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            animation: rotate 30s linear infinite;
            animation-delay: 8s;
            img {
                position: absolute;
            }
            .britain {
                animation: britain 3s forwards;
                animation-delay: 3s;
                width: 80px;
                &__small {
                    animation: britain-small 3s forwards;
                    animation-delay: 4.6s;
                    width: 50px;
                }
            }
            .italian {
                animation: italian 3s forwards;
                animation-delay: 3.4s;
                width: 50px;
            }
            .india {
                animation: india 3s forwards;
                animation-delay: 3.8s;
                width: 70px;
                &__small {
                    animation: india-small 3s forwards;
                    animation-delay: 4.2s;
                    width: 50px;
                    &__2 {
                        animation: india-small-2 3s forwards;
                        animation-delay: 5s;
                        width: 50px;
                    }
                }
            }
        }
        &__girl {
            position: absolute;
            bottom: 0;
            z-index: 2;
        }
    }
}
